.hero-section {
    background-color: var(--background-section);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-background.jpg);
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.hero-section__title {
    display: block;
    width: 696px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    color: var(--button-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 30px;
}